* {
  box-sizing: border-box;
  outline: 0;
}

html.adaptive {
  min-width: 320px;
}

h1 {
  font-family: Segoe UI;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: -0.28px;
  margin: 0;
}

h2 {
  font-family: Segoe UI;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.24px;
  margin: 0;
}

h3 {
  font-family: Segoe UI;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: -0.2px;
  margin: 0;
}

h4 {
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  margin: 0;
}

h5 {
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  text-transform: uppercase;
}

.caption {
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.caption-14 {
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.caption-400 {
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.caption-700 {
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.caption-600 {
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

p {
  margin: 0;
}

::after,
::before {
  box-sizing: border-box;
}

body {
  min-width: 1024px;
  margin: 0;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  background-color: #f6f6fa;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.orderWidth {
  min-width: 303px;
  width: 429px;
}

.cartAmount {
  position: absolute;
  top: -5.5px;
  left: 32px;
  display: inline-flex;
  height: 16px;
  width: 16px;
  transform: rotate(0.074deg);
  padding: 1px 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--system-red, #f55123);
  color: var(--system-white, #fff);
  text-align: center;
  font-family: Segoe UI;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

main {
  max-width: 1400px;
  flex: 1 0 auto;
  width: 100%;
  position: relative;
  margin: auto;
}

.main__container_block {
  display: block;
}

.main_section {
  width: 891px;
  min-width: 630px;
}

.main_section > div {
  margin-bottom: 40px;
}

.main_section > div:last-child {
  margin-bottom: 22px;
}

.main__container {
  display: flex;
  max-width: 1400px;
  margin: auto;
  gap: 32px;
  padding: 10px 24px 0 24px;
}

.main__title {
  color: var(--text-black, #000);
}

footer {
  position: relative;
  padding: 48px 24px 24px 24px;
  background: var(--system-violet, #6725a8);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

footer::before {
  content: "";
  display: block;
  background: #f6f6fa;
  border-radius: 0 0 24px 24px;
  width: 100%;
  height: 24px;
  position: absolute;
  top: -1px;
  left: 0;
}

@media (max-width: 320px) {
  body {
    width: 320px;
    min-width: 320px;
    margin: 0;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .caption-16 {
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  h2 {
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin: 0;
  }

  main {
    width: 320px;
    flex: 1 0 auto;
    position: relative;
    margin: 0;
  }

  .main__container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 0;
    gap: 16px;
    padding: 0;
  }

  .main_section {
    width: 320px;
    min-width: 288px;
  }
  .main_section > div {
    margin-bottom: 45px;
  }

  .main_section > div:nth-child(2) {
    margin-bottom: 32px;
  }

  .main_section > div:last-child {
    margin-bottom: 11px;
  }
  .main__title {
    padding: 0 16px;
  }

  .orderWidth {
    height: 383px;
    width: 320px;
  }

  footer {
    width: 320px;
  }
}
