.order {
  display: flex;
  width: 429px;
  padding: 16px 24px 24px 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  background: var(--background-white, #fff);

  /* Тени/Итого, Выпадающие списки */
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.order__section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.order__total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
