.delivery__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.delivery__section {
  display: flex;
  padding: 16px 24px 24px 24px;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--background-white, #fff);
}

.delivery__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.delivery__info {
  display: flex;
  gap: 32px;
}

.delivery__info_line {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.delivery__info_label {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.delivery__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.delivery__info_line {
  display: flex;
  gap: 32px;
}

.deliveryAmount {
  position: relative;
  top: -13px;
  left: 33px;
  display: inline-flex;
  height: 16px;
  transform: rotate(0.074deg);
  padding: 1px 4px 0px 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--system-red, #f55123);
  color: var(--system-white, #fff);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
